MyWCF/WCFClient/Service References/vertexService/MyCalc.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MyCalc" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49538/MyCalc.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49538/MyCalc.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMyCalc_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IMyCalc_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IMyCalc_Substract_InputMessage">
    <wsdl:part name="parameters" element="tns:Substract" />
  </wsdl:message>
  <wsdl:message name="IMyCalc_Substract_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubstractResponse" />
  </wsdl:message>
  <wsdl:message name="IMyCalc_Multiply_InputMessage">
    <wsdl:part name="parameters" element="tns:Multiply" />
  </wsdl:message>
  <wsdl:message name="IMyCalc_Multiply_OutputMessage">
    <wsdl:part name="parameters" element="tns:MultiplyResponse" />
  </wsdl:message>
  <wsdl:message name="IMyCalc_Devide_InputMessage">
    <wsdl:part name="parameters" element="tns:Devide" />
  </wsdl:message>
  <wsdl:message name="IMyCalc_Devide_OutputMessage">
    <wsdl:part name="parameters" element="tns:DevideResponse" />
  </wsdl:message>
  <wsdl:portType name="IMyCalc">
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyCalc/Add" message="tns:IMyCalc_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyCalc/AddResponse" message="tns:IMyCalc_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Substract">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyCalc/Substract" message="tns:IMyCalc_Substract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyCalc/SubstractResponse" message="tns:IMyCalc_Substract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Multiply">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyCalc/Multiply" message="tns:IMyCalc_Multiply_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyCalc/MultiplyResponse" message="tns:IMyCalc_Multiply_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Devide">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyCalc/Devide" message="tns:IMyCalc_Devide_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyCalc/DevideResponse" message="tns:IMyCalc_Devide_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMyCalc" type="tns:IMyCalc">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/IMyCalc/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Substract">
      <soap:operation soapAction="http://tempuri.org/IMyCalc/Substract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Multiply">
      <soap:operation soapAction="http://tempuri.org/IMyCalc/Multiply" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Devide">
      <soap:operation soapAction="http://tempuri.org/IMyCalc/Devide" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MyCalc">
    <wsdl:port name="BasicHttpBinding_IMyCalc" binding="tns:BasicHttpBinding_IMyCalc">
      <soap:address location="http://localhost:49538/MyCalc.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>